<h1>
  Accounts
  <button class="btn btn-success btn pull-right hidden-xs" ui-sref="main.addaccounts"><span class="glyphicon glyphicon-plus-sign"></span> Add</button>
</h1>

<div class="list-group">
  <button type="button" class="list-group-item" ng-repeat="account in accounts" ui-sref="main.editaccount({ id: account.id })">

    <span class="badge">{{account.balance | currency}}</span>
    {{account.name}}
  </button>
</div>

<div class="visible-xs" style="font-size: 1.5em; height: 4em;">&nbsp;</div>
<button class="btn btn-success btn-lg visible-xs" style="font-size: 1.25em; border-radius: 1.5em; width: 3em; height: 3em; position: fixed; right: 1em; bottom: 1em;" ui-sref="main.addaccounts"><span class="glyphicon glyphicon-plus"></span></button>
