<div class="hidden-xs">
  <ol class="breadcrumb">
    <li><a ui-src="main.accounts">Accounts</a></li>
    <li><a ui-sref="main.editaccount(account)">{{account.name}}</a></li>
    <li class="active">Transactions</li>
  </ol>
</div>

<h1>
  Edit Account
  <button class="btn btn-success pull-right hidden-xs" style="border: 0px;" ui-sref="main.accountAddTransaction( account )"><span class="glyphicon glyphicon-plus-sign"></span> Add</button>
  <div class="pull-right">&nbsp;</div>
  <button class="btn btn-default pull-right hidden-xs" style="border: 0px;" ui-sref="main.accounts"><span class="glyphicon glyphicon-arrow-left"></span></button>
</h1>

<div class="alert alert-danger" ng-class="{'alert-danger': response.error, 'alert-success': response.message}" role="alert" ng-show="response.message || response.error">
  {{response.message}}{{response.error}}
</div>
<uib-tabset active="1">
  <uib-tab index="0" heading="Settings" ui-sref="main.editaccount(account)">
  </uib-tab>
  <uib-tab  index="1" heading="Transactions" ui-sref="main.editaccountTransactions(account)">

    <div class="list-group">
      <button type="button" class="list-group-item" ng-repeat="transaction in transactions" ui-sref="main.accountEditTransaction( transaction )">

        <span class="badge ">
          <div>{{transaction.amount | currency}}</div>
          <small><i class="icon-repeatone"></i> {{transaction.every_num}} {{transaction.every_type}}[s]</small>
        </span>
        <div>{{transaction.name}}</div>
      </button>
    </div>
    <button class="btn btn-default btn-lg visible-xs" style="border: 0px; font-size: 1.25em; border-radius: 1.5em; width: 3em; height: 3em;" ui-sref="main.accounts"><span class="glyphicon glyphicon-arrow-left"></span></button>

    <div class="visible-xs" style="font-size: 1.5em; height: 4em;">&nbsp;</div>
    <button class="btn btn-success btn-lg visible-xs" style="box-shadow: .15em .15em .4em .2em rgba(0, 0, 0, 0.2); font-size: 1.25em; border-radius: 1.5em; width: 3em; height: 3em; position: fixed; right: 1em; bottom: 1em;" ui-sref="main.accountAddTransaction( account )"><span class="glyphicon glyphicon-plus"></span></button>

  </uib-tab>
</uib-tabset>
