
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="jumbotron">

            <div class="btn-group" uib-dropdown>
              <button id="split-button" type="button" class="btn btn-default">{{account.name}}</button>
              <button type="button" class="btn btn-default" ui-sref="main.editaccount(account)">
                <span class="glyphicon glyphicon-edit"></span>
              </button>
              <button type="button" class="btn btn-default" uib-dropdown-toggle>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                <li role="menuitem" ng-repeat="record in accounts" ng-hide="account.id == record.id"><a ui-sref="main.viewforecast(record)">{{record.name}}</a></li>
                <li class="divider"></li>
                <li role="menuitem"><a ui-sref="main.accounts">View Accounts</a></li>
              </ul>
            </div>

        </div>
      </div>
    </div>
