
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="jumbotron text-center">
            <div ng-show="accounts.length === 0">
              <h4>You don't seem to have an account setup.  Why don't you create one now?</h4>
              <button class="btn btn-success" ui-sref="main.addaccounts"><span class="glyphicon glyphicon-plus"></span> Create Account</button>
            </div>
            <div ng-show="accounts.length > 0">
              <h4>Select an account below to view your forecast:</h4>

              <div class="btn-group" uib-dropdown is-open="status.isopen">
                <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                  Select Account <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                  <li role="menuitem" ng-repeat="account in accounts"><a ui-sref="main.viewforecast(account)">{{account.name}}</a></li>
                  <li class="divider"></li>
                  <li role="menuitem"><a ui-sref="main.accounts">View Accounts</a></li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
