

<div class="alert" ng-class="{'alert-danger': response.error, 'alert-success': response.message}" role="alert" ng-show="response.message || response.error">
  {{response.message}}{{response.error}}
</div>

<div class="panel panel-default">
  <div class="panel-heading">User Information</div>
  <div class="panel-body">

    <form name="userForm">
      <div class="form-group has-feedback">
        <label for="current">User Name</label>
        <input type="name" name="username" class="form-control" ng-model="user.username" ng-disabled="true">
        <span class="help-block "><small class="text-muted">User name cannot be changed.</small></span>
      </div>
      <div class="form-group has-feedback" ng-class="{'has-success': userForm.name.$valid && userForm.name.$dirty, 'has-error': userForm.name.$invalid && userForm.name.$dirty}">
        <label for="current">Name</label>
        <input type="name" name="name" class="form-control" ng-model="user.name" required>
        <span class="glyphicon glyphicon-ok form-control-feedback"  ng-show="userForm.name.$valid && userForm.name.$dirty"></span>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="userForm.name.$invalid && userForm.name.$dirty"></span>
      </div>
      <div class="form-group has-feedback" ng-class="{'has-success': userForm.email.$valid && userForm.email.$dirty, 'has-error': userForm.email.$invalid && userForm.email.$dirty}">
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control" ng-model="user.email" required>
        <span class="glyphicon glyphicon-ok form-control-feedback"  ng-show="userForm.email.$valid && userForm.email.$dirty"></span>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="userForm.email.$invalid && userForm.email.$dirty"></span>
      </div>
      <button class="btn btn-primary" ng-click="save(userForm)" ng-disabled="userForm.$invalid || userForm.$pristine"><i class="icon-save-floppy"></i> Save</button>
    </form>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Change Password</div>
  <div class="panel-body">

    <form name="changepwForm">
      <div class="form-group has-feedback" ng-class="{'has-success': changepwForm.current.$valid && changepwForm.current.$dirty, 'has-error': changepwForm.current.$invalid && changepwForm.current.$dirty}">
        <label for="current">Current Password</label>
        <input type="password" name="current" class="form-control" ng-model="changepw.current" required>
        <span class="glyphicon glyphicon-ok form-control-feedback"  ng-show="changepwForm.current.$valid && changepwForm.current.$dirty"></span>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="changepwForm.current.$invalid && changepwForm.current.$dirty"></span>
        <span class="help-block" ng-class="{'text-danger': changepwForm.current.$invalid && changepwForm.current.$dirty}" ng-show="changepwForm.current.$invalid && changepwForm.current.$dirty">Current password must be specified</span>
      </div>

      <div class="form-group has-feedback" ng-class="{'has-success': changepwForm.newpassword.$valid && changepwForm.newpassword.$dirty, 'has-error': changepwForm.newpassword.$invalid && changepwForm.newpassword.$dirty}">
        <label for="newpassword">New Password</label>
        <input type="password" name="newpassword" class="form-control" ng-model="changepw.newpassword" required matches="changepwForm.newpassword2.$viewValue">
        <span class="glyphicon glyphicon-ok form-control-feedback"  ng-show="changepwForm.newpassword.$valid && changepwForm.newpassword.$dirty"></span>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="changepwForm.newpassword.$invalid && changepwForm.newpassword.$dirty"></span>
      </div>

      <div class="form-group has-feedback" ng-class="{'has-success': changepwForm.newpassword2.$valid && changepwForm.newpassword2.$dirty, 'has-error': changepwForm.newpassword2.$invalid && changepwForm.newpassword2.$dirty}">
        <input type="password" name="newpassword2" class="form-control" ng-model="changepw.newpassword2" required matches="changepwForm.newpassword.$viewValue">
        <span class="glyphicon glyphicon-ok form-control-feedback"  ng-show="changepwForm.newpassword2.$valid && changepwForm.newpassword2.$dirty"></span>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="changepwForm.newpassword2.$invalid && changepwForm.newpassword2.$dirty"></span>
      </div>
      <span class="help-block" ng-class="{'text-danger': changepwForm.$error.matches}" ng-show="changepwForm.$error.matches">Passwords must match</span>

      <button class="btn btn-primary" ng-click="change()" ng-disabled="changepwForm.$invalid">Change</button>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Tokens</div>
  <div class="panel-body">

  <div ng-show="loading">Loading</div>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="token in tokens">
        <div class="row">
          <div class="col-sm-8">
            <div>{{token.agent_browser}} on {{token.agent_os}} <button uib-popover="{{token.agent}}" type="button" class="btn btn-info btn-xs "><span class="glyphicon glyphicon-question-sign"></span></button></div>
            <div ng-show="token.geo_city"><small>{{token.geo_city}}, {{token.geo_region}} {{token.geo_country}} ({{token.ip}})</small></div>
            <div ng-hide="token.geo_city"><small>IP: {{token.ip}}</small></div>
          </div>
          <div class="col-sm-3">
            <div><small>Expires: {{token.expires | date: 'medium'}}</small></div>
            <div><small>Last Used: {{token.updatedAt | date: 'medium'}}</small></div>
            <div><small>Created: {{token.createdAt | date: 'medium'}}</small></div>
          </div>
          <div class="col-xs-12 col-sm-1">
           <button class="btn btn-md btn-danger pull-right" ng-disabled="token.client_token == config.auth.client_token" ng-click="delete_token(token)"><span class="glyphicon glyphicon-trash"></span></button>
          </div>

        </div>
      </li>
    </ul>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Logout of FinanceCaster</div>
  <div class="panel-body text-center">
    <button class="btn btn-danger" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</button>
  </div>
</div>
