<h1>Transactions
<button class="btn btn-success btn pull-right hidden-xs" ui-sref="main.addtransactions"><span class="glyphicon glyphicon-plus-sign"></span> Add</button>
</h1>

<div class="list-group">
  <button type="button" class="list-group-item" ng-repeat="transaction in transactions" ui-sref="main.edittransactions({ id: transaction.id })">

    <span class="badge ">
      <div>{{transaction.amount | currency}}</div>
      <small ng-hide="transaction.one_time"><i class="icon-repeatone"></i> {{transaction.every_num}} {{transaction.every_type}}[s]</small>
      <small ng-show="transaction.one_time">One Time</small>
    </span>
    <div>{{transaction.name}}</div>
    <small class="text-muted">{{transaction.account.name}}</small>
  </button>
</div>

<div class="visible-xs" style="font-size: 1.5em; height: 4em;">&nbsp;</div>
<button class="btn btn-success btn-lg visible-xs" style="box-shadow: .15em .15em .4em .2em rgba(0, 0, 0, 0.2); font-size: 1.25em; border-radius: 1.5em; width: 3em; height: 3em; position: fixed; right: 1em; bottom: 1em;" ui-sref="main.addtransactions"><span class="glyphicon glyphicon-plus"></span></button>
