<div class="container-fluid">
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
<div class="jumbotron">
  <h1>Welcome to FinanceCaster</h1>
</div>

<form>
<div class="form-group">
  <label for="username">Username</label>
  <input class="form-control" id="username" type="text" placeholder="User" ng-model="username">
</div>
<div class="form-group">
  <label for="password">Password</label>
  <input class="form-control" id="password" type="password" placeholder="Password" ng-model="password">
</div>
<button class="btn btn-primary" ng-click="login()">Login</button>
</div>
</div>
</div>
