<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <div class="jumbotron text-center">
        <h1>Welcome to FinanceCaster</h1>
        <div ng-show="auth && user.account_token">
        <h3>Accept Account Share?</h3>
        <button class="btn btn-success" ng-click="accept_share()"><span class="glyphicon glyphicon-ok-circle"></span> Accept</button>
        <button class="btn btn-default" ui-sref="main.accounts">Cancel</button>
        </div>
      </div>

      <uib-tabset active="active" ng-hide="auth && user.account_token">
        <uib-tab index="0" heading="Existing User">

          <div class="well well-lg">
            <form ng-show="!changepw">
              <div class="form-group has-feedback" ng-class="{'has-error': error}">
                <label for="username">Username</label>
                <input class="form-control" id="username" type="text" placeholder="User" ng-model="user.username">
                <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="error"></span>
              </div>
              <div class="form-group has-feedback" ng-class="{'has-error': error}">
                <label for="password">Password</label>
                <input class="form-control" id="password" type="password" placeholder="Password" ng-model="user.password">
                <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="error"></span>
              </div>
                <span id="helpBlock2" class="help-block pull-right"><small><a ui-sref="forgotpassword" style="cursor: pointer">Forgot Password?</a></small></span>
              <button class="btn btn-primary" ng-click="login()"><span class="glyphicon glyphicon-log-in"></span> Login</button>
            </form>

            <form name="changepwFrm" ng-show="changepw">
              <h3>Please change your password</h3>
              <div class="form-group has-feedback" ng-class="{'has-success': changepwFrm.newpassword.$valid && changepwFrm.newpassword.$dirty, 'has-error': changepwFrm.newpassword.$invalid && changepwFrm.newpassword.$dirty}">
                <label for="newpassword">Password</label>
                <input class="form-control" id="newpassword" name="newpassword" type="password" placeholder="Password" required ng-model="changepw.newpassword" matches="changepwFrm.password2.$viewValue">
                <span class="glyphicon glyphicon-ok form-control-feedback"  ng-show="changepwFrm.newpassword.$valid && changepwFrm.newpassword.$dirty"></span>
                <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="changepwFrm.newpassword.$invalid && changepwFrm.newpassword.$dirty"></span>
              </div>
              <div class="form-group has-feedback" ng-class="{'has-success': changepwFrm.password2.$valid && changepwFrm.password2.$dirty, 'has-error': changepwFrm.password2.$invalid && changepwFrm.password2.$dirty}">
                <input class="form-control" id="password" name="password2"  type="password" placeholder="Confirm Password" required ng-model="newuser.password2"matches="changepwFrm.newpassword.$viewValue">
                <span class="glyphicon glyphicon-ok form-control-feedback"  ng-show="changepwFrm.password2.$valid && changepwFrm.password2.$dirty"></span>
                <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="changepwFrm.password2.$invalid && changepwFrm.password2.$dirty"></span>
              </div>
              <span class="help-block" ng-class="{'text-danger': changepwFrm.$error.matches}" ng-show="changepwFrm.$error.matches">Passwords must match</span>

              <button class="btn btn-primary" ng-click="changepassword(changepwFrm)" ng-disabled="changepwFrm.$invalid || changing"><i class="icon-password
  "></i> Change Password</button>
            </form>
          </div>

        </uib-tab>
        <uib-tab index="1" heading="New User">

          <div class="well well-lg" ng-show="newuser.verification">
            <h2 class="text-success">Account Created</h2>
            <p>Please check your email for a link to activate your account</p>
          </div>

          <div class="well well-lg" ng-hide="newuser.verification">
            <form name="userFrm">
              <div class="form-group has-feedback" ng-class="{'has-success': userFrm.name.$valid && userFrm.name.$dirty, 'has-error': userFrm.name.$invalid && userFrm.name.$dirty}">
                <label for="name">Name</label>
                <input class="form-control" id="name" name="name" type="text" placeholder="Name" required ng-model="newuser.name">
                <span class="glyphicon glyphicon-ok form-control-feedback"  ng-show="userFrm.name.$valid && userFrm.name.$dirty"></span>
                <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="userFrm.name.$invalid && userFrm.name.$dirty"></span>
              </div>
              <div class="form-group has-feedback" ng-class="{'has-success': userFrm.username.$valid && userFrm.username.$dirty, 'has-error': userFrm.email.$invalid && userFrm.email.$dirty}">
                <label for="username">Username</label>
                <input class="form-control" id="username" name="username" type="text" placeholder="User Name" required ng-model="newuser.username">
                <span class="glyphicon glyphicon-ok form-control-feedback"  ng-show="userFrm.username.$valid && userFrm.username.$dirty"></span>
                <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="userFrm.username.$invalid && userFrm.username.$dirty"></span>
              </div>
              <div class="form-group has-feedback" ng-class="{'has-success': userFrm.email.$valid && userFrm.email.$dirty, 'has-error': userFrm.email.$invalid && userFrm.email.$dirty}">
                <label for="email">Email</label>
                <input class="form-control" id="email" name="email" type="email" placeholder="Email" required ng-model="newuser.email">
                <span class="glyphicon glyphicon-ok form-control-feedback"  ng-show="userFrm.email.$valid && userFrm.email.$dirty"></span>
                <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="userFrm.email.$invalid && userFrm.email.$dirty"></span>
              </div>
              <div class="form-group has-feedback" ng-class="{'has-success': userFrm.password.$valid && userFrm.password.$dirty, 'has-error': userFrm.password.$invalid && userFrm.password.$dirty}">
                <label for="password">Password</label>
                <input class="form-control" id="password" name="password" type="password" placeholder="Password" required ng-model="newuser.password"matches="userFrm.password2.$viewValue">
                <span class="glyphicon glyphicon-ok form-control-feedback"  ng-show="userFrm.password.$valid && userFrm.password.$dirty"></span>
                <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="userFrm.password.$invalid && userFrm.password.$dirty"></span>
              </div>
              <div class="form-group has-feedback" ng-class="{'has-success': userFrm.password2.$valid && userFrm.password2.$dirty, 'has-error': userFrm.password2.$invalid && userFrm.password2.$dirty}">
                <input class="form-control" id="password" name="password2"  type="password" placeholder="Confirm Password" required ng-model="newuser.password2"matches="userFrm.password.$viewValue">
                <span class="glyphicon glyphicon-ok form-control-feedback"  ng-show="userFrm.password2.$valid && userFrm.password2.$dirty"></span>
                <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="userFrm.password2.$invalid && userFrm.password2.$dirty"></span>
              </div>
              <span class="help-block" ng-class="{'text-danger': userFrm.$error.matches}" ng-show="userFrm.$error.matches">Passwords must match</span>

              <button class="btn btn-primary" ng-click="createaccount(userFrm)" ng-disabled="userFrm.$invalid || creating"><i class="icon-adduseralt
  "></i> Create Account</button>
            </form>
          </div>
        </uib-tab>
      </uib-tabset>

    </div>
  </div>
</div>

<div style="font-size: 1.25em; height: 2em;">&nbsp;</div>
  <div class="messages" ng-class="{'messages_active': messages.length > 0}">
  <div ng-repeat="message in messages">
  <i class="icon-erroralt text-danger" ng-show="message.type == 'error'"></i>
  <i class="icon-ok-circle text-success" ng-show="message.type != 'error'"></i>
  {{message.message}}
  </div>
  </div>
